.client-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 239, 239);
    padding: 100px 0 125px 0;
    text-align: center;
    h2 {
        margin-bottom: 50px;
    }
}

.client-carriage__image-container {
    width: 50%;
    margin: 0 auto;
}

.flickity-button {
    font-size: 4.1rem;
    color: rgb(202, 206, 207);
    background-color: transparent;
    &:hover {
        color: $colour-prim;
        background-color: transparent;
    }
}

.previous {
    margin-right: 30px;
    margin-top: 80px;
}

.next {
    margin-left: 30px;
    margin-top: 80px;
}

.quote {
    line-height: 38px;
    margin: 0;
    padding: 0 130px;
}

.client-name {
    font-size: 2.3rem;
    font-style: italic;
    margin: 75px 0 0 0;
}

.carousel-cell {
    width: 66%;
    height: 400px;
}

.carousel-image {
    // max-height: 100%;
    margin: 0 auto;
    width: 100%;
}
// ========================
// RESPONSIVE DESIGN
// **Portrait tablet and small desktops**
@media (max-width: 940px) {
    .client-carriage__image-container {
        width: 75%;
    }

    .previous {
        margin-top: 130px;
    }

    .next {
        margin-top: 130px;
    }
    
}

// **Portrait tablet and small desktops**
@media (max-width: 820px) {
    .previous {
        margin-top: 100px;
    }

    .next {
        margin-top: 100px;
    }
    
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    .client-quote {
        padding: 0 30px;
    }

    .previous {
        margin-top: 90px;
    }

    .next {
        margin-top: 90px;
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 600px) {
    .previous {
        margin-top: 10px;
    }

    .next {
        margin-top: 10px;
    }
}

// **Landscape phones and down**
@media (max-width: 480px) {
    .client-quote {
        padding: 0;
    }

    .previous {
        margin-top: -20px;
    }

    .next {
        margin-top: -20px;
    }
}