html {
    font-size: 62.5%;
}

body {
    font-family: $font-prim;
    color: $colour-prim;
}

.wrapper-prim {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper-sec {
    // border: 1px solid red; /* temp */
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper-third {
    width: 100%;
    max-width: 1530px;
    padding-right: 30px;
}

img {
    display: block;
    max-width: 100%;
}

.section-header {
    text-align: center;
}

.nav {
    // flex: 1 0 auto;
    &__list {
        height: 100%;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    &__item {
        margin-left: 45px;
    }
    &__link {
        font-size: 2rem;
        color: $colour-prim;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
    }
}

.button,
.read-more {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $colour-prim;
}

.button:hover {
    background-color: rgba(190, 200, 132, 0.9);
    color: rgb(255, 255, 255);
}

.button:active {
    position: relative;
    top: 3px;
}

.button {
    border: 1.05px solid $colour-prim;
    border-radius: 25px;
    padding: 12px 40px;
    letter-spacing: 5px;
}

* {
    border: 1px solid red;
}