html {
    font-size: 62.5%;
}

body {
    font-family: $font-prim;
    color: $colour-prim;
}

.wrapper-prim {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper-sec {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper-third {
    max-width: 1530px;
}

img {
    display: block;
    max-width: 100%;
}

.nav {
    color:blue;
    &__list {
        list-style-type: none;
        padding-left: 0;
    }
    &___item {

    }
    &__link {
        font-size: 2rem;
        color: $colour-prim;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
    }
}

.button,
.read-more {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $colour-prim;
}