.news-section {
    padding: 105px 0 110px 0;
}

.news-snippets {
    padding: 50px 0 0 0;
    display: flex;
    &__snippet {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 calc(33.3% - (60px / 3));
        margin-right: 30px;
    }
    &__snippet:last-child {
        margin-right: 0;
    }
    &__caption {
        padding: 20px 0 0 3px;
    }
    &__read-more {
        color: rgb(40, 93, 100);
        margin: 8px 0 0 2px;
        display: inline-block;
        &__icon {
            margin-left: 10px;
            transition: all 0.3s;
        }
        &:hover i {
            position: relative;
            left: 5px;
        }
    }
}

// ========================
// RESPONSIVE DESIGN
// **Portrait tablet and small desktops**
@media (max-width: 940px) {
    
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    .news-snippets {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        &__caption {
            align-self: center;
        }
        &__snippet:nth-child(1) {
            flex: 0 0 calc(50% - 15px)
        }
        &__snippet:nth-child(2) {
            flex: 0 0 calc(50% - 15px);
            margin-right: 0;
        }
        &__snippet:nth-child(3) {
            flex: 0 1 50%;
            margin-top: 30px;
        }
    }
}

// **Landscape phones and down**
@media (max-width: 480px) {
    .news-snippets {
        &__snippet:nth-child(n + 1) {
            flex: 1 0 100%;
            margin: 30px 0 0 0;
            align-items: center;
        }
    }
}