.samples-section {
    display: flex;
}

.sample-photo {
    flex: 1 0 25%;
    position: relative;
    &__caption {
    color: $colour-sec;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    display: none;
    &__paragraph {
        width: 50%;
    }
    }
    &:hover .sample-photo__caption {
        background-color: rgba(0, 0, 0, 0.78);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// ========================
// RESPONSIVE DESIGN
// **Portrait tablet and small desktops**
@media (max-width: 980px) {
    .samples-section {
        flex-wrap: wrap;
    }

    .sample-photo {
        flex-basis: 50%;
    }

    // .photo-figure__image-container {
        
    // }

    // .sample-photo img {

    // }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {

}

// **Landscape phones and down**
@media (max-width: 480px) {
    .sample-photo {
        flex-basis: 100%;
    }
}
