.services-section {
    background-color: rgb(190, 200, 132);
    padding: 115px 0;
}

.services-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.service-items__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    flex: 1 1 calc(33.3% - (70px / 3));
    margin: 50px 35px 0 0;
    padding: 0 50px;
    &__icon i {
        font-size: 6rem;
    }
    &__header {
        margin-top: 25px;
    }
    &__paragraph {
        line-height: 2.6rem;
        margin: 0 0 10px 0;
    }
}

.service-item.item3 {
    margin-right: 0;
}

// ========================
// RESPONSIVE DESIGN
// **Portrait tablet and small desktops**
@media (max-width: 956px) {
    .service-item {
        margin-right: 0;
        flex-basis: 33%;
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {

}

// **Landscape phones and down**
@media (max-width: 480px) {

}