.services-section {
    background-color: rgb(190, 200, 132);
    padding: 115px 0;
}

.services-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.service-items__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    flex: 1 1 calc(33.3% - (70px / 3));
    margin: 50px 35px 0 0;
    padding: 0 50px;
    &__icon i {
        font-size: 6rem;
    }
    &__header {
        margin-top: 25px;
    }
    &__paragraph {
        line-height: 2.6rem;
        margin: 0 0 10px 0;
    }
}

.service-item.item3 {
    margin-right: 0;
}

.service-item__icon i {
    transition: all .5s;
}

.service-item__icon {
    position: relative;
    display: flex;
    justify-content: center;
}

.service-item__icon.icon1 {
    margin-bottom: 83px;
}

.service-item.item1 i {
    position: absolute;
}

.service-item.item1 .fa-camera {
    z-index: 5;
    background-color: rgb(190, 200, 132);
}

.service-item.item1 .fa-image {
    transform: rotateZ(90deg)

}

@keyframes camera {
    0% {
        transform: rotateZ(90deg);
    }   
    50% {
        transform: translateY(25px) rotateZ(90deg);
    }
    100% {
        transform: translateY(0) rotateZ(90deg);
    }
}

.service-item.item1 .fa-camera:hover ~ .fa-image {
    animation: camera 1s linear;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }   
    50%, 60% {
        transform: scale(1.4);
    }
    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.fa-heart:hover {
    animation: heart 1s cubic-bezier(.07,1.21,.52,.87) infinite;
}

@keyframes leaf {
    0% {
        
    }

    15% {
        transform: translateY(-100px);
    }
    40% {
        transform: rotateZ(-30deg) translateY(-80px);
    }
    70% {
        transform: rotateZ(40deg) translateY(-50px);
    }
    85% {
        transform: rotateZ(-30deg) translateY(-30px);
    }
    100% {
        transform: translateY(0px) rotateZ(0deg);
    }
}

.fa-leaf:hover {
    animation: leaf 3.5s ease-out infinite;
}
// ========================
// RESPONSIVE DESIGN
// **Portrait tablet and small desktops**
@media (max-width: 956px) {
    .service-item {
        margin-right: 0;
        flex-basis: 33%;
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    .service-item__icon i:hover {
        transform: none; 
    }
}

// **Landscape phones and down**
@media (max-width: 480px) {

}