.testimonials-section {
    display: flex;
    flex-direction: column;
    padding: 100px 0 125px 0;
}

.testimonials-container {
    margin-top: 50px;
    align-self: flex-end;
}

.figure-image-container {
    flex: 1 0 auto;
}

// image height auto?

.testimonials-main {
    display: flex;
}

.testimonial-caption {
    margin-left: 50px;
    padding: 140px 325px 0 0;
}

.testimonial-caption__header {
    font-weight: 600;
}