.welcome-section {
    padding: 100px 0 140px 0;
}

.welcome-container {
    text-align: center;
    padding: 0px 116px;
}

.welcome-header span {
    color: rgb(40, 93, 100);
}

.article {
    margin-top: 50px;
    line-height: 38px;
}

.welcome-button {
    margin-top: 75px;
}