// ========================
// SETUP STARTS
@import "partials/setup";
// SETUP ENDS
// ========================

// ========================
// UTILITIES STARTS
@import "partials/utils";
// UTILITIES ENDS
// ========================

// ========================
// TYPOGRAPHY STARTS
@import "partials/typography";
// TYPOGRAPHY ENDS
// ========================

// ========================
// GENERAL STYLES STARTS
@import "partials/general";
// GENERAL STYLES ENDS
// ========================

// ========================
// HEADER STARTS
@import "partials/header";
// HEADER ENDS
// ========================

// ========================
// MAIN STARTS
// ========================

// ========================
// ==Welcome Section STARTS==
@import "partials/welcome";
// ==Welcome Section ENDS==

// ========================
// ==Services Section STARTS==
@import "partials/services";
// ==Services Section ENDS==

// ========================
// ==Testimonials Section STARTS==
@import "partials/testimonials";
// ==Testimonials Section ENDS==

// ========================
// ==Samples Section STARTS==
@import "partials/samples";
// ==Samples Section ENDS==

// ========================
// ==Clients Section STARTS==
@import "partials/clients";
// ==Clients Section ENDS==

// ========================
// ==Latest News Section STARTS==
@import "partials/news";
// ==Latest News Section ENDS==

// ========================
// ==Question Form STARTS==
@import "partials/question";
// ==Question Form ENDS==

// ========================
// ==Latest Shoots Section STARTS==
@import "partials/latest-shoots";
// ==Latest Shoots Section ENDS==

// ========================
// MAIN ENDS
// ========================

// ========================
// FOOTER STARTS
// ========================

// ========================
// ==Footer Top STARTS==
@import "partials/footer-top";
// ==Footer Top ENDS==

// ========================
// ==Footer Bottom STARTS==
@import "partials/footer-bottom";
// ==Footer Bottom ENDS==

// ========================
// FOOTER ENDS
// ========================

// background: [background-color] [background-image] [background-position] [background-repeat] [background-attachment];
.footer-bottom {
    background-color: $colour-prim;
    display: flex;
    justify-content: center;
    &__text {
        color: rgb(238, 237, 237);
        text-align: center;
        font-family: $font-sec;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 10px 0;
        text-transform: uppercase;
    }
}


// footer {
//     @include footer(blue);
// }

